<!-- app.component.html -->

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav >
    <div class="container">
      <a routerLink="/home">
        <img src="../assets/icono_1.0.png" alt="Icono de la aplicación" >
      </a>
    </div>    
    <div class="menu">
      <ul>
        <li><a href="#">Login</a></li>
        <li><a href="#">Registrarse</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <!-- Resto del contenido de tu aplicación -->
    <router-outlet></router-outlet>
  </div>
</body>
</html>