/* Estilos para el encabezado */
h2 {
  padding: 10px;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
}

/* Estilos para el contenedor principal */
.container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Centrado horizontal con margen automático */
  max-width: 800px; /* Ancho máximo del contenedor */
}

/* Estilos para la lista de URLs */
.url-list {
  list-style: none; /* Elimina los puntos de listado */
  padding: 0; /* Elimina el relleno predeterminado */
}

/* Estilos para cada elemento de URL */
.url-item {
  display: flex; /* Usa flexbox para alinear elementos en una línea */
  flex-direction: column; /* Alinea los elementos en columna */
  margin-bottom: 15px; /* Espacio entre elementos */
}

/* Estilos para la fecha */
.date {
  font-weight: bold; /* Texto en negrita */
  margin: 5px 10px; /* Ajusta los márgenes según sea necesario */
}

/* Estilos para cada enlace */
.truncated-url {
  display: block; /* Asegura que sea un bloque para manejar el ancho correctamente */
  padding: 5px 10px; /* Ajusta el relleno según sea necesario */
  border-bottom: 1px solid #ccc; /* Agrega una línea horizontal */
  text-decoration: none; /* Elimina el subrayado predeterminado */
  color: #333; /* Cambia el color del texto si lo deseas */
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el texto que se desborda */
  text-overflow: ellipsis; /* Muestra "..." cuando el texto se desborda */
}

/* Estilos de hover para el enlace */
.truncated-url:hover {
  background-color: #87e3c1; /* Cambia el color de fondo al pasar el mouse */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

/* Estilos para el contenedor de botones */
.button-container {
  text-align: center; /* Centrar los botones horizontalmente */
  margin-top: 20px; /* Espacio en la parte superior para separarlos de los elementos anteriores */
}

/* Estilos para el botón */
.styled-button {
  background-color: #4CAF50; /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Relleno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Display inline */
  font-size: 16px; /* Tamaño de fuente */
  margin: 4px 10px; /* Margen */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  border-radius: 4px; /* Bordes redondeados */
}

/* Estilos de hover para el botón */
.styled-button:hover {
  background-color: #8e4ebc; /* Cambia el color de fondo al pasar el mouse */
}
