body {
  font-size: 16px; /* Tamaño base de fuente */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2vh 2vw; /* Usar vw y vh para el relleno */
}

.main-content {
  text-align: center;
  border: 0.2em solid #ccc; /* Ajusta el grosor del borde proporcionalmente */
  border-radius: 1em; /* Ajusta los bordes redondeados proporcionalmente */
  padding: 2em; /* Utiliza unidades relativas para el padding */
  background-color: #f9f9f9;
  width: 80%; /* Establece un ancho específico */
  max-width: 600px; /* Limita el ancho máximo */
  margin: 1em auto; /* Ajusta los márgenes proporcionalmente */
  box-sizing: border-box; /* Incluye relleno y borde en el ancho total */
}

@media screen and (max-width: 600px) {
  .main-content {
    width: 90%; /* Ajusta el ancho en pantallas pequeñas */
    padding: 1.5em; /* Utiliza unidades relativas para el padding */
  }
}

.welcome {
  margin-bottom: 1.5em; /* Ajusta el margen inferior proporcionalmente */
}

.welcome h1 {
  font-family: "Arial Black", sans-serif;
  color: #333;
  font-size: 2.4em; /* Utiliza unidades relativas para el tamaño de la fuente */
  margin-bottom: 0.5em;
}

.input-box {
  margin-top: 1.5em; /* Ajusta el margen superior proporcionalmente */
}

.input-box label {
  margin-right: 0.5em; /* Utiliza unidades relativas para los márgenes */
}

input {
  padding: 0.5em; /* Utiliza unidades relativas para el padding */
  margin-right: 0.5em;
  max-width: 100%;
  font-size: 1em; /* Ajusta el tamaño de la fuente proporcionalmente */
}

hr {
  width: 75%; /* Ajusta el ancho de la línea divisoria proporcionalmente */
  border: none;
  border-top: 0.05em solid #ccc; /* Ajusta el grosor de la línea proporcionalmente */
  margin: 2em auto; /* Ajusta el margen proporcionalmente */
}

button {
  padding: 0.75em 1.5em; /* Utiliza unidades relativas para el padding */
  background-color: #87e3c1;
  color: #fff;
  border: none;
  border-radius: 0.5em; /* Ajusta los bordes redondeados proporcionalmente */
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 1.1em; /* Ajusta el tamaño de la fuente proporcionalmente */
}

button:hover {
  background-color: #8e4ebc;
}

.error-message {
  color: red;
  margin-top: 1em; /* Ajusta el margen superior proporcionalmente */
}
