<div class="container">
  <!-- <div class="header">
      <button routerLink="">Iniciar Sesión</button>
      <button routerLink="">Registrarse</button>
    </div> -->
  <div class="main-content">
    <div class="welcome">
      <h1>GpmDataExplorer</h1>
    </div>
    <div class="error-message" *ngIf="showErrorMessage">
      Please enter a name.
    </div>
    <hr>
    <div class="input-box">
      <label for="username">Name: </label>
      <input type="text" id="username" [(ngModel)]="username" />
      <br><br>
      <button (click)="comenzar()">Start</button>
    </div>
  </div>
</div>