.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
}

.radiometer-box {
  width: 200px;
  height: 50px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #45d46b;
}

.radiometer-box:hover {
  background-color: #8e4ebc;
}
