<div class="container">
  <h1>{{ satelliteName }}</h1>

  <!-- RANGO DE FECHAS -->
  <div class="filter">
    <!-- Botón para mostrar u ocultar el rango de fechas -->
    <div>
      <span class="date-range-text">Date Range:  {{ startDate ? startDate : availableStartDate }} to {{ endDate ? endDate : availableEndDate }}</span>

      <button (click)="toggleDateRange()">Select Date</button>
    </div>

    <!-- Contenedor para el rango de fechas -->
    <div *ngIf="isDateRangeOpen" class="filter">
      <!-- Selector de fecha de inicio -->
      <label for="startDate">From:</label>
      <input type="date" id="startDate" name="startDate" [(ngModel)]="startDate" [min]="availableStartDate"
        [max]="endDate ? endDate : null" [max]="availableEndDate">

      <!-- Selector de fecha de fin -->
      <label for="endDate">To:</label>
      <input type="date" id="endDate" name="endDate" [(ngModel)]="endDate" [min]="availableStartDate"
        [min]="startDate ? startDate : null" [max]="availableEndDate">

      <button (click)="dateLoad()">Guardar</button>
    </div>
  </div>

  <!-- RANGO DE Region -->
  <div class="filter">
    <!-- Botón para mostrar u ocultar el rango de fechas -->
    <div>
      <span class="date-range-text">Region: {{ regionCoordinates ? regionCoordinates : '-180, -70, 180, 70' }}</span>
      <button (click)="toggleRegionRange()">Select Region</button>
      <button (click)="goToMap()">Map</button>
      <div *ngIf="regionCoordinatesError" class="error-message">
        {{ regionCoordinatesError }}
      </div>
    </div>

    <!-- Contenedor para el rango de regiones -->
    <div *ngIf="isRegionRangeOpen" class="filter">

      <!-- Botones para seleccionar regiones predefinidas -->
      <div class="region-buttons">
        <button (click)="selectContinent('North America')">North America</button>
        <button (click)="selectContinent('South America')">South America</button>
        <button (click)="selectContinent('Europe')">Europe</button>
        <button (click)="selectContinent('Africa')">Africa</button>
        <button (click)="selectContinent('Asia')">Asia</button>
        <button (click)="selectContinent('Australia')">Australia</button>
      </div>

      <!-- Input para ingresar las coordenadas -->
      <label for="regionCoordinates">Enter Region Coordinates : </label>
      <input type="text" id="regionCoordinates" name="regionCoordinates" [(ngModel)]="regionCoordinates" disabled>


    </div>
  </div>

  <!-- Contenedor para Selector de variables -->
  <div class="filter">
    <label class="date-range-text">Select Variables:<span *ngIf="!areVariablesSelected()" style="color: red;">Please
        select at least one variable.</span></label>
    <button (click)="toggleSelectedVariables()">Variables</button>
    <div *ngIf="isSelectorVariablesOpen" class="filter">
      <div *ngFor="let variable of variables">
        <input type="checkbox" id="{{ variable.id }}" [(ngModel)]="selectedVariables[variable.id]">
        <label for="{{ variable.id }}">{{ variable.value }}</label>
      </div>
    </div>
  </div>

  <!-- Contenedor para Layer -->
  <div class="filter">
    <label class="date-range-text">Select Layers:<span style="color: red;"> Please select consecutive layers.</span></label>
    <button (click)="toggleSelectedLayers()">Layers</button>
    <div *ngIf="isSelectorLayersOpen" class="filter">
      <div *ngFor="let layer of layers">
        <input type="checkbox" id="{{ layer.id }}" [(ngModel)]="selectedLayers[layer.id]" (change)="toggleLayerSelection(layer.id)">
        <label for="{{ layer.id }}">{{ layer.value }}</label>
      </div>

    </div>
  </div>

  <div style="text-align: center;">
    <button (click)="createFilter()" class="last-button">Ok</button>
  </div>
</div>